@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSans;
  src: url(./fonts/IRANSans/IRANSans.ttf);
}

.rtl {
  direction: rtl;
}

.paginatinBttns a {
  padding: 13px;
  background: #341f97;
  color: #fff;
  border-radius: 10px;
}

.paginatinBttns a:hover {
  background: #5f27cd;
}
