@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSans;
  src: url(./fonts/IRANSans/IRANSans.ttf);
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

.paginatinBttns a {
  padding: 13px;
  background: #341f97;
  color: #fff;
  border-radius: 10px;
}

.paginatinBttns a:hover {
  background: #5f27cd;
}

.LoginRegisterContainer {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.LoginRegisterContainer::before {
  content: "";
  position: absolute;
  top: -5rem;
  width: 150%;
  height: 380px;
  background-color: #5f27cd;
  z-index: -1;
  transform: rotate(-4deg);
}
.LoginRegisterContainer::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 380px;
  background-color: #341f97;
  z-index: -9999;
  transform: rotate(-4deg);
}

@layer utilities {
 
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
}
}
